.button,#submitButton{
    background-color:rgb(60, 138, 138);
    color:white;
    margin:10px;
    padding:5px;
    border-radius: 10%;
}
#inputDiv{
    width:25%;
    float:right;
    margin:5px;
}
input{
    margin:10px 0;
    padding:10px;
}
#submitButton{
    margin-left:0;
}
#gifImages{
    /* display:inline; */
    width:50%;
}
/* #favorites{
     float:right;
     marg
} */
.animalDiv{
    position:relative;
}
.btn{
    border:0;
    position:absolute;
    bottom:10px;
    background-color:rgb(60, 138, 138);

} 
#download{
    left:30px;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{
    #mobileDiv{
text-align:center;
    }
    .button,#submitButton{
        width:80%;
        font-size:1em;
align-content:center;
        }
        #inputDiv{
        font-size:1.5em;
        width:100%;
        float:left;
    }
    #favorites,#gifImages{
        width:100%;
        text-align:center;
    }
    

}